<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Kickstars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  {% load static %}

    <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
    <link rel="stylesheet" href="{% static "css/jquery.sidr.light.css" %}"/>
	<link rel="stylesheet" href="{% static "css/animate.min.css" %}"/>
	<link rel="stylesheet" href="{% static "css/md-slider.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
      <link rel="stylesheet" href="{% static "css/responsiveslides.css" %}"/>

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="{% static "css/ie7.css" %}"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static "css/ie8.css" %}"/>
    <![endif]-->
    <link rel="stylesheet" href="{% static "css/responsive.css" %}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static "js/html5.js" %}"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static "js/raphael-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
	 <script type="text/javascript" src="{% static "js/responsiveslides.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.touchwipe.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/md_slider.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.sidr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>

</head>

<body>
<header id="header">
        <div class="wrap-top-menu">
            <div class="container_12 clearfix">
                <div class="grid_12">
                    <nav class="top-menu">
                        <ul id="main-menu" class="nav nav-horizontal clearfix">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li class="sep"></li>

                        </ul>
                        <a id="btn-toogle-menu" class="btn-toogle-menu" href="#alternate-menu">
                            <span class="line-bar"></span>
                            <span class="line-bar"></span>
                            <span class="line-bar"></span>
                        </a>
                        <div id="right-menu">
                            <ul class="alternate-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="all-pages.html">All Pages</a></li>
                                <li><a href="how-it-work.html">Help</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </nav>

                    <i id="sys_btn_toggle_search" class="icon iBtnRed make-right"></i>
                </div>
            </div>
        </div><!-- end: .wrap-top-menu -->
        <div class="container_12 clearfix">
            <div class="grid_12 header-content">
                <div id="sys_header_right" class="header-right">
                    <div class="account-panel" style="display: flex;">
                        {% if user.is_authenticated %}

        <h3>Hello, <a style= "color: #ea513d; text-transform: capitalize;" href="{% url 'user_profile' %}">{{ user.username }}</a></h3>

        <img src="{{user.userprofileinfo.profile_pic.url}}" alt="Avatar" style="width:47px;border-radius: 50%;height: 47px;  padding-left: 4px;" />

    {% else %}
                        <a href="{% url 'register' %}" class="btn btn-red">Register</a>
                        <a href="#" id="login_btn" class="btn btn-black sys_show_popup_login">Login</a>
                          {% endif %}
                    </div>
                    <div class="form-search">
                        <form action="/search/" method="POST">
                         {% csrf_token %}
                            <label for="sys_txt_keyword">
                                <input id="sys_txt_keyword" class="txt-keyword" name = "searchText" type="text" placeholder="Search projects"/>
                            </label>
                            <button class="btn-search" type="reset"><i class="icon iMagnifier"></i></button>
                            <button class="btn-reset-keyword" type="reset"><i class="icon iXHover"></i></button>
                        </form>
                    </div>
                </div>
                <div class="header-left">
                    <h1 id="logo">
                        <a href="{% url 'home' %}"><img src="{% static "images/logo.png" %}" alt="$SITE_NAME"/></a>
                    </h1>
                    <div class="main-nav clearfix">
                        <div class="nav-item">
                            <a href="{% url 'discover' %}" class="nav-title">Discover</a>
                            <p class="rs nav-description">Great Projects</p>
                        </div>
                        <span class="sep"></span>
                        <div class="nav-item">
                            <a href="{% url 'new_project' %}" class="nav-title">Start</a>
                            <p class="rs nav-description">Your Project</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!--end: #header -->
 {% block content %}

 {% endblock %}

 <footer id="footer">
        <div class="container_12 main-footer">
            <div class="grid_3 about-us">
                <h3 class="rs title">About</h3>
                <p class="rs description">Donec rutrum elit ac arcu bibendum rhoncus in vitae turpis. Quisque fermentum gravida eros non faucibus. Curabitur fermentum, arcu sed cursus commodo.</p>
                <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:info@megadrupal.com">info@megadrupal.com</a></p>
                <p class="rs">+1 (555) 555 - 55 - 55</p>
            </div><!--end: .contact-info -->
            <div class="grid_3 recent-tweets">
                <h3 class="rs title">Recent Tweets</h3>
                <div class="lst-tweets" id="sys_lst_tweets">

                </div>
            </div><!--end: .recent-tweets -->
            <div class="clear clear-2col"></div>
            <div class="grid_3 email-newsletter">
                <h3 class="rs title">Newsletter Signup</h3>
                <div class="inner">
                    <p class="rs description">Nam aliquet, velit quis consequat interdum, odio dolor elementum.</p>
                    <form action="#">
                        <div class="form form-email">
                            <label class="lbl" for="txt-email">
                                <input id="txt-email" type="text" class="txt fill-width" placeholder="Enter your e-mail address"/>
                            </label>
                            <button class="btn btn-green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div><!--end: .email-newsletter -->
            <div class="grid_3">
                <h3 class="rs title">Discover &amp; Create</h3>
                <div class="footer-menu">
                    <ul class="rs">
                        <li><a class="be-fc-orange" href="#">What is Kickstars</a></li>
                        <li><a class="be-fc-orange" href="#">Start a project</a></li>
                        <li><a class="be-fc-orange" href="#">Project Guidlines</a></li>
                        <li><a class="be-fc-orange" href="#">Press</a></li>
                        <li><a class="be-fc-orange" href="#">Stats</a></li>
                    </ul>
                    <ul class="rs">
                        <li><a class="be-fc-orange" href="#">Staff Picks</a></li>
                        <li><a class="be-fc-orange" href="#">Popular</a></li>
                        <li><a class="be-fc-orange" href="#">Recent</a></li>
                        <li><a class="be-fc-orange" href="#">Small Projects</a></li>
                        <li><a class="be-fc-orange" href="#">Most Funded</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="copyright">
            <div class="container_12">
                <div class="grid_12">
                    <a class="logo-footer" href="{% url 'home' %}"><img src="{% static "images/logo-2.png" %}" alt="$SITE_NAME"/></a>
                    <p class="rs term-privacy">
                        <a class="fw-b be-fc-orange" href="single.html">Terms & Conditions</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="single.html">Privacy Policy</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="#">FAQ</a>
                    </p>
                    <p class="rs ta-c fc-gray-dark site-copyright">Built with ❤ <a href="#" title="ITI" target="_blank">in ITI Mansourah</a>.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </footer><!--end: #footer -->

</div>

<div class="popup-common" id="sys_popup_common">
    <div class="overlay-bl-bg"></div>
    <div class="container_12 pop-content">
        <div class="grid_12 wrap-btn-close ta-r">
            <i class="icon iBigX closePopup"></i>
        </div>
        <div class="grid_6 prefix_1">

        </div>
        <div class="grid_12">
            <div class="form login-form">
<form method="post" action="{% url 'login' %}">
          {% csrf_token %}                    <h3 class="rs title-form">Login</h3>
                    <div class="box-white">
                        <h4 class="rs title-box">Already Have an Account?</h4>
                        <p class="rs">Please log in to continue.</p>
                        <div class="form-action">
                            <label for="txt_email_login">
                                <input id="txt_email_login" class="txt fill-width" name= "username" type="text" placeholder="Enter your username"/>
                            </label>
                            <label for="txt_password_login">
                                <input id="txt_password_login" class="txt fill-width" type="password" name="password" placeholder="Enter password"/>
                            </label>

                            <label for="chk_remember" class="rs pb20 clearfix">
                                <input id="chk_remember" type="checkbox" class="chk-remember"/>
                                <span class="lbl-remember">Remember me</span>
                            </label>
                            <p class="rs ta-c pb10">
                                <button class="btn btn-red btn-submit" type="submit">Login</button>
                            </p>
                            <p class="rs ta-c">
                                <a href="#" class="fc-orange">I forgot my password</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

</body>
</html>
